@media (max-width: 1724px) {
	.item__section{
	flex-direction: column;
	}

	.item__section--btns{
		flex-direction: row;
	}

	.main__blocks {
		order: 2;
	}

	.info__div {
		order: 1;
		width: 100%;
		margin-bottom: 35px;
	}
	.info__text{
		width: 100%;
	}
	.info__paragraph{
		margin: 0;
	}
}

@media (max-width: 1199px) {
	.aside {
		position: fixed;
		top: 0;
		left: -286px;
		width: 286px;
		height: 100%;
		background: #fff;
		transition: left 0.3s ease;
		z-index: 1000;
		margin-top: 0;
		margin-left: 0;
	}

	.aside.open {
		left: 0;
	}

	.burger,.aside-close{
		display: block;
	}

	.aside-close{
		float: right;
	}

	.logo__block{
		padding-top: 0;
	}

	.item__section{
		padding: 10px;
	}

	.main__info{
		padding: 0;
	}
}

@media (min-width: 1200px) {
	.burger {
		display: none;
	}

}

@media (max-width: 960px) {
	.main__blocks {
		width: auto;
	}

	.inputs, .input__block--four, .input__block--three, .input__block--two, .input__block--one{
		width: auto;
		flex: 1;
	}

	.input__block{
		min-width: 400px;
	}

	.header{
		height: auto;
	}

	.cards__input{
		flex-wrap: wrap;
		justify-content: center;
	}

	.cards__input .div-title{
		text-align: center;
	}
	.menu{
		gap: 5px;
		margin: 0 30px;
		display: flex;
		justify-content: space-between;
	}

	.button__money {
		font-size: 14px;
		white-space: nowrap;
		width: 30px;
		width: 90px;
	}

	.nav__right-profile{
		margin: 0 10px;
	}

	.info__text{
		font-size: 14px;
	}

	.input, .select {
		font-size: 14px;
	}

	.nav__left{
		width: 100%;
	}

	.nav__right{
		width: 100%;
		justify-content: space-between;
		margin-right: 20px;
	}

	.item__section--btns{
		flex-direction: row;
	}

	.aside{
		overflow-y: scroll;
	}
	.asidemenu-bottom {
		margin-top: 50px;
	}
}

@media (max-width: 610px){
	.item__section--btns{
		flex-direction: column;
	}

	.btn__item--reset{
		flex: none;
	}

	.btn__item--delete{
		margin: 0;
	}

	.radio__input span{
		font-size: 14px;
	}

	.card__company{
		width: auto;
		margin: 0 auto;
	}
}

@media (max-width: 460px){
	.company{
		white-space: nowrap;
		font-size: 14px;
	}

	.menu__link{
		font-size: 14px;
		white-space: nowrap;
	}

	.burger{
		font-size: 15px;
		width: 30px;
		height: 30px;
	}

	.checkboxes{
		display: block;
	}
	
	.checkboxes__input{
		margin-bottom: 10px;
	}

	.btns__list-save{
		display: block;
	}

	.btn__item--reset, .btn__item--save{
		width: 150px;
	}

	body{
		padding: 0;
	}

	.button__money {
		font-size: 0;
	}

	.item__section {
        padding: 3px;
    }

	.input__block{
		min-width: 320px;
	}

	.nav__right-profile{
		order: 1;
	}

	.nav__right-buttons{
		order: 2;
	}

	.mini__button, .button__money{
		padding: 0;
		width: 25px;
		height: 25px;
		background-size: 17px;
		border-radius: 5px;
		gap: 0;
	}

	.button__money-img{
		background-size: 17px;
		width: 25px !important;
		height: 25px;
	}

	.menu{
		margin: 0 auto;
        padding: 0 15px;
	}

	.header{
		border-radius: 0;
		margin: 0;
	}

	.aside{
		border-radius: 0 20px 0 0;
	}

	.notification-dot {
		top: 6px;
		right: 7px;
		width: 3px;
		height: 3px;
	}
}





