html{
    margin: 0;
    padding: 0;    
}

body{
    background-color:#F5F7FB;
    font-family: "Open Sans";
    padding: 0 12px;
}

.page {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min(90px) 1fr;
}

ul,li,a{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

.title{
    display: none;
}

/* -------------- Шапка -------------- */

.header{
    grid-column: 2 / span 1;
    background-color: #6C63E5;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    border-radius: 20px;
    margin: 10px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.nav__right {
    display: flex;
    align-items: center;
}

.menu{
    margin-left: 40px;
    gap: 40px;
    display: flex;
}

.menu__link{
    font-weight: 600;
    color:#fff;
    font-size: 15px;
}

.mini__button {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.mini__button--email {
    background-image: url('../Image/email.svg');
}

.mini__button--notification {
    position: relative;
    background-image: url('../Image/notification.svg');
}

.notification-dot {
    position: absolute;
    top: 11px;
    right: 12px;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
}

.nav__right-buttons{
    display: flex;
    gap: 10px;
}

.nav__right-profile{
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.company{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    display: flex;
}

.button__company{
    height: 16px;
    width: 16px;
    border: 0;
    background: transparent url('../Image/company.svg') no-repeat center / contain;
    margin: 0 15px 0 10px;
}

.button__money {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
    color: #34434B;
    width: 110px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.button__money-img {
    width: 20px;
    height: 20px;
    background: transparent url('../Image/money.svg') no-repeat center / contain;
}

/* -------------- Боковое меню -------------- */

.aside{
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    margin: 10px 24px 10px 0;
    justify-content: space-between;
    border-radius:20px;
    background-color: #fff;
    width: 296px;
    height: 100%;
}

.asidemenu-top {
    position: sticky;
    top: 0;
}

.asidemenu-bottom{
    margin-top: auto;
}

.asidemenu__list-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo__block{
    display: flex;
    padding: 24px 10px 24px 10px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-right: 47px;
}

.asidemenu__item{
    margin: 0 10px;
    padding-left: 15px;
    max-width: 276px;
    height: 50px; 
    display: flex;
    align-items: center;   
}

.asidemenu__item:focus{
    background-color:#F5F7FB;
    border-radius:10px;
}

.asidemenu__item--active{
    background-color:#F5F7FB;
    border-radius:10px;
}

.asidemenu__item--active a img{
    filter: brightness(0) saturate(100%) invert(41%) sepia(95%) saturate(3837%) hue-rotate(231deg) brightness(99%) contrast(81%);
}

.asidemenu__title{
    color: #88969D;
    text-transform: uppercase;
    margin: 30px 0 10px 10px;
    font-size: 14px;
}

.asidemenu__link {
    display: flex;
    align-items: center;
}

.asidemenu__name{
    font-weight: 400;
    display: inline-block;
    margin: 0 0 0 12px;
    color: #34434B;
    font-size: 15px;
}

/* -------------- Главная информация -------------- */

.main{
    grid-column: 2 / span 1;
}

.main__info{
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 20px;
    width: 100%-30px;
    padding: 30px 0 30px 30px;
}

.item__section{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.item__section--first{
    padding-top: 0;
}

.main__blocks{
    width: 879px;
    border-bottom: 1px solid rgba(202, 210, 221, 1);
}

.section__templates .main__blocks{
    border: none;
    padding: 0;
}

.section__templates{
    border-bottom: 1px solid rgba(202, 210, 221, 1);
    padding: 40px 0;
}

.main__title-block{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main__button-exit{
    background: transparent url('../Image/arrowLeft.svg') no-repeat center / contain;
    border: none;
    width: 24px;
    height: 24px;
}

.main__title{
    font-weight: 600;
    font-size: 20px;
    color: #333;
}

.div-title{
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 16px;
}

.fio-inputs{
    gap: 10px;
}

.input__block{
    display: flex;
    align-items: center;
    background-color: #F5F7FB;
    height: 80px;
    border-radius: 10px;
}

.input__block--one{
    width: 286px;
}

.input__block--two{
    width: 434.5px;
}

.input__block--three{
    width: 583px;
}

.input__block--four{
    width: 879px;
}

.input__image {
    background: transparent url('../Image/docx.svg') no-repeat center / contain;
    width: 24px;
    height: 24px;
    padding: 0 20px;
}

.input__image--adress{
    background: transparent url('../Image/adress.svg') no-repeat center / contain;
}

.input__image--phone{
    background: transparent url('../Image/phone.svg') no-repeat center / contain;
}

.input__image--email {
    background-color: rgb(136, 150, 157);
    mask: url('../Image/email.svg') center / contain no-repeat;
    -webkit-mask: url('../Image/email.svg') center / contain no-repeat;
}

.input__image--company{
    background: transparent url('../Image/myCompany.svg') no-repeat center / contain;
}

.input__image--company-card{
    background-color: #6C63E5;
    mask: url('../Image/myCompany.svg') center / contain no-repeat;
    -webkit-mask: url('../Image/myCompany.svg') center / contain no-repeat;
}

.input__image--calendar{
    background: transparent url('../Image/calendar.svg') no-repeat center / contain;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.input__field{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-left: 1px solid #CAD2DD;
    padding-left: 20px; 
}

.input, .select{
    border: none;
    background-color: #F5F7FB;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}

.select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding-right: 35px;

}

.input:focus, .select:focus {
    outline: none;
    border: none;
}

.input__label {
    color: #88969D;
    font-size: 14px;
    
}

.inputs{
    gap: 10px;
    display: flex;
    width: 879px;
    flex-wrap: wrap;
    
}

.select__field{
    position: relative;
    display: flex;
    width: 100%;
}

.select-arrow {
    cursor: pointer;
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 24px;
    height: 24px;
    background: transparent url('../Image/select.svg') no-repeat center / contain;
}

.info__div{
    margin-top: 35px;
    width: 477px;
    display: flex;
    float: right;
}

.info__img{
    background: transparent url('../Image/info.svg') no-repeat center / contain;
    width: 24px;
    height: 24px;
    margin: 5px;
    margin-right: 15px;
}

.info__text{
    line-height: 22px;
    width: 438px;
    color: #88969D;
    font-size: 15px;
    font-weight: 400;
}

.info__paragraph{
    margin: 0 0 10px 0;
}

.inputs__div{
    margin-bottom: 40px;
}

.btn-add{
    margin: 15px 0;
    width: 147px;
    height: 50px;
    background-color: #fff;
    border: 1px dashed #6C63E5;
    color: #6C63E5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
    font-size: 15px;
}

.btn-img{
    display: inline-block;
    width: 24px;
    height: 24px;
}

.btn-img--add{
    background: transparent url('../Image/btn.svg') no-repeat center / contain;
}

.btn-img,
.btn-add span {
    vertical-align: middle;
}

.image__card{
    padding: 0;
}

.cards-container{
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
}

.card__company{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 435px;
    height: 106px;
    border-radius: 10px;
    border: 1px solid #CAD2DD;
    gap: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.btn-delete{
    background: transparent url('../Image/delete.svg') no-repeat center / contain;
    border: none;
    width: 24px;
    height: 24px;
}

.data__company{
    flex: 1;
}

.data-name{
    line-height: 1.5;
    font-weight: 600;
    font-size: 16px;
}

.data-job, .data-department{
    line-height: 1.5;
    font-size: 14px;
    color: #88969D;
}

.radios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.radio__input {
    cursor: pointer;
}

.radio__input input[type="radio"] {
    display: none;
}

.radio__input span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 15px 20px;
    border: 1px dashed rgba(108, 99, 229, 1);
    border-radius: 5px;
    color: rgba(108, 99, 229, 1);
    font-weight: 400;
    font-size: 15px;
}

.radio__input input[type="radio"]:checked + span {
    background-color: rgba(108, 99, 229, 1);
    color: #fff;
    border: 1px solid rgba(108, 99, 229, 1);
    font-weight: 600;
}

.radio__input span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: transparent url('../Image/radio.svg') no-repeat center / contain;
}

.radio__input input[type="radio"]:checked + span::before {
    background: transparent url('../Image/radioChecked.svg') no-repeat center / contain;
}

.checkboxes {
    font-size: 15px;
    line-height: 1;
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: column;
    gap: 15px;
}

.cards__input{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgba(202, 210, 221, 1);
    padding-bottom: 40px;
}

.input__img{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 283px;
    height: 250px;
    border: 1px dashed rgba(136, 150, 157, 1);
    border-radius: 20px;
    color: rgba(136, 150, 157, 1);
}

.upload-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.upload-img{
    display: block;
    width: 26px;
    height: 26px;
    background: transparent url('../Image/upload.svg') no-repeat center / contain;
}

.preview {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    align-items: center;
}

.clear-img {
    display: none;
    width: 26px;
    height: 26px;
    background: transparent url('../Image/clear.svg') no-repeat center / contain;
    border: none;
    position: absolute;
    top: -15px;
    right: -35px;
}

.btn__item{
    margin: 15px 0;
    height: 50px;
    background-color: #fff;
    border: 1px solid rgb(202, 210, 221);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
    font-size: 15px;
}

.btn__item--save{
    color: white;
    background-color: rgb(108, 99, 229);
}

.btn__item--reset{
    flex: 1;
}

.btn__item--delete{
    color: rgb(234, 76, 58);
    border: 1px solid rgb(234, 76, 58);
}

.btns__list-save{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.item__section--btns{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.btn-img--save{
    background: transparent url('../Image/radioChecked.svg') no-repeat center / contain;
}

.btn-img-reset{
    background: transparent url('../Image/reset.svg') no-repeat center / contain;
}

.btn-img-delete{
    background: transparent url('../Image/delete.svg') no-repeat center / contain;
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
    accent-color: rgb(108, 99, 229);
}

.burger{
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.aside-close{
    display: none;
    background-color: #fff;
    border: none;
    color: #000000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}










